<div class="row">
<div class="col-lg-6 col-lg-offset-3 text-center" id="link">

<!--<a type="button"  href="/menus/game" class="btn btn-lg btn-primary">Start Game</a>-->
  <style>
    #link{margin-top: 25%;
      margin-left: 23%;
    }

  </style>
  <%=link_to "Start Game", "/menus/show", :type => "button", :class => "btn btn-lg
  btn-warning"%>
</div>
</div>
<br>
