
<h1>Current users</h1>

<ul class="list-group">
<% @users.each do |user| %>

<%if user.type == "Student" %>
<li class="list-group-item">
<%= user.name %>
<div class="btn-group">
<%= link_to "Add Student", enrollments_path(:student_id => user), :method => :post , :class => "btn btn-warning" %>
</div>
</li>

<% end %>

<% end %>

 
</ul>
