	

<h1>Current students</h1>

<ul class="list-group">
<% @users.each do |user| %>

<%if user.type == "Student" %>
<li class="list-group-item">
<%= user.name %>

<%= link_to "Add Student", enrollments_path(:student_id => user), :method => :post , :class => "btn btn-warning" %>

</li>



<% end %>

<% end %>

 
</ul>
