<html>

<body>
  

   <div class="container"> 
  	
	  	<div class="row"> 
	  		<div class="col-md-12"> 
	  			<button class="btn btn-default red-circle-button" onclick="javascript:document.location='/students/sign_in'">طالب
	  				<span class="red-circle-greater-than"></span>
	  			</button> 
	  		</div>
	    </div>

  	    <div class="row">
            <div class="col-md-12">

   	          <button class="btn btn-default red-circle-button" onclick="javascript:document.location='/teachers/sign_in'" >مشرف

		   	    <span class="red-circle-buttoncircle-greater-than"></span>
		   		
 	          </button> 
 	        </div> 
        </div> 
   </div>
   <a href="#" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>

</body>

</html>
