
<h1><%= @lesson.title %> Cards</h1>

<ul class="list-group">
<% @lesson.cards.each do |card| %>

<li class="list-group-item">
<%= card.title %>
</li>


<% end %>

 
</ul>
<%=link_to "play!", "/menus/show", :type => "button", :class => "btn btn-lg btn-warning" %>
<%= link_to('Add Cards', cards_path, :method => :get,:class => "btn btn-warning") %>  