<!DOCTYPE html>
<html>
<head>
  <title>WordSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="cards">WordSearch</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="cards">Home</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
